#whereLiveFeedWouldGo{
  width: 60%;
  height: 500px;
  background: black;
  margin-left: 20%;
}

.old_messages {
  width: 70%;
  border: 2px solid blue;
  margin-left: 15%;
}

.new_message {
  width: 70%;
  border: 2px solid red;
  margin-left: 15%;
}
